<section>
    <article class="blog">
        <h1>About this blog</h1>
    </article>
    <div class="about">
    <img src="/assets/afif-min.jpg" alt="afifalfiano" class="myProfile">
    <p>
        Website ini bertujuan untuk membagikan artikel bermanfaat untuk kedepannya demi kemajuan developer indonesia.
        Semoga dengan adanya tulisan dari Saya ini mampu memompa semangat teman-teman yang ingin mengawali karir sebagai developer. 
        Tidak ada kata terlambat untuk memulai sesuatu.
      </p>
      <blockquote>"Mulailah sekarang atau tidak sama sekali!"</blockquote>
      <p class="introduction">
          Perkenalkan Saya Afif Alfiano berasal dari Yogyakarta. Saya seorang yang ingin terus belajar dan tidak mudah menyerah
      </p>
    </div>
</section>