<section>
    <article class="blog">
        <h1>About this blog</h1>
    </article>
    <div class="about">
    <img src="/assets/afif-min.jpg" alt="afifalfiano" class="myProfile">
    <p>
        Website ini bertujuan untuk membagikan artikel bermanfaat untuk kedepannya demi kemajuan developer indonesia.
        Semoga dengan adanya tulisan dari Saya ini mampu memompa semangat teman-teman yang ingin mengawali karir sebagai developer. 
        Tidak ada kata terlambat untuk memulai sesuatu.
      </p>
      <blockquote>"Mulailah sekarang atau tidak sama sekali!"</blockquote>
      <p class="introduction">
          Perkenalkan Saya Afif Alfiano berasal dari Yogyakarta. Saya seorang yang ingin terus belajar dan tidak mudah menyerah
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, itaque. Reprehenderit labore beatae ad similique dolorum itaque libero nesciunt harum aspernatur cumque eos voluptatem possimus quas culpa dicta, quasi sed commodi. Accusantium molestias obcaecati tempore dicta quod commodi voluptates 
      </p>
    <p class="new">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, eveniet adipisci ipsum voluptatem necessitatibus temporibus aspernatur rerum tenetur explicabo deleniti quam qui, iure asperiores exercitationem fugiat quasi non voluptate quidem minima. Odio nobis quibusdam est impedit id consequuntur labore magni?</p>
    </div>
</section>