<app-current-post></app-current-post>

<h1>Sharing is Caring</h1>

<article *ngFor="let blog of blogPosts | async ">
  <div class="thumbnail">
    <img src="assets/post.jpg" alt="" class="img-cover" (click)="goto(blog)">
  </div>
  <div class="content">
    <h5 class="category">{{blog.category}}</h5>
    <h4 class="date">{{ blog.date }}</h4>
    <h3 class="title">{{ blog.title }}</h3>
    <p class="desc">{{ blog.description }} <a [routerLink]="blog.route"> Baca Selengkapnya </a></p>
  
    <p class="author"><img src="assets/afif-min.jpg" alt="AfifAlfiano" class="img-author"> {{blog.authorName}}</p>
</div>
</article>
<div class="pagination-loc">
  <!-- <pagination [totalItems]="30"></pagination> -->
<pagination [totalItems]="blogs.length" [maxSize]="5" (pageChanged)="pageChanged($event)"></pagination>
</div>

<!-- <article (click)="goto(blog)" *ngFor="let blog of blogs.slice(1, blogs.length)">
  <h3>Episode #{{ blog.number }}</h3>
  <h2>{{ blog.title }}</h2>
  <h4>{{ blog.published | date: 'shortDate' }}</h4>
  <p>{{ blog.description }}</p>
  <p><a [routerLink]="blog.route">Find more</a></p>
</article> -->
